beautifulsoup4==4.4.0
Django<2.0
django-appconf
django-compressor
django-extensions
django-mathfilters
django-modelcluster
django-redis
html5lib==0.999
msgpack-python
mysqlclient
Pillow>3.4.0
pytz==2015.4
redis==2.10.3
wagtail
werkzeug
https://github.com/bloodywing/Willow/archive/master.zip
